/webpics_java/.settings
/webpics_java/logs
/webpics_java/project/project
/webpics_java/project/target
/webpics_java/target
/webpics_java/tmp
/webpics_java/.history
/webpics_java/dist
/webpics_java/*.class
/webpics_java/webpics_java/logs
/webpics_java/webpics_java/project/project
/webpics_java/webpics_java/project/target
/webpics_java/webpics_java/target
/webpics_java/webpics_java/.target*
/webpics_java/webpics_java/.target/*
webpics_java/webpics_java/.target/views
/webpics_java/webpics_java/tmp
/webpics_java/webpics_java/dist
/webpics_java/pix_bin
/webpics_java/.classpath
/webpics_java/.settings
