@(passwordForm: Form[_], userId: String)

@import helper._
@import helper.twitterBootstrap._

@helper.form(action = routes.Admin.doChangePassword, 'class -> "form-horizontal") {
       <fieldset>
           <legend>@Messages("pix.navigation.user.password_change")</legend>
           
           @inputPassword(
               passwordForm("password"), 
               '_label -> Messages("pix.password"),
               '_help -> Messages("pix.user.password.helptext"),
               'autocomplete -> "off"
           )
           <br />
           
           @inputPassword(
               passwordForm("repeatPassword"), 
               '_label -> Messages("pix.user.password_repeat"),
               '_help -> Messages("pix.user.password_repeat.helptext"),
               'autocomplete -> "off"
           )
       </fieldset>
       
       <br />
       
       <div class="actions">
           <input type="submit" class="btn btn-primary" value="@Messages("pix.navigation.user.password_change.save")">
       </div>

       <input type="hidden" name="user_id_for_password" id="user_id_for_password" value="@userId" />
}