@(userForm: Form[_], existingRoles: List[models.SecurityRole], userRoles: List[models.SecurityRole])

@import helper._
@import helper.twitterBootstrap._

@if(userForm.hasGlobalErrors) { 
    <p class="error">
     <span class="label label-important">@userForm.globalError.message</span>
 </p>
}

@inputText(
    userForm("name"), 
    '_label -> Messages("pix.name"), 
    '_error -> userForm.globalError
)
<br />

@inputText(
    userForm("email"), 
    '_label -> Messages("pix.email"), 
    '_error -> userForm.globalError
)            
<br />

@checkbox(
    userForm("active"), 
    '_label -> None, '_text -> Messages("pix.user.active"),
    '_showConstraints -> false
)            
<br />

@checkbox(
    userForm("emailValidated"), 
    '_label -> None, '_text -> Messages("pix.user.email_validated"),
    '_showConstraints -> false
)            
<br />
      
<select multiple="multiple" class="multiselect" id="userRole" name="userRole">
	@for(eRole <- existingRoles) {
		<option value="@eRole.id" @if(userRoles.contains(eRole)) {selected="selected"}>@eRole.roleName</option>                
	}
</select>
