@(userForm: Form[_], passwordForm: Form[_], existingRoles: List[models.SecurityRole], userRoles: List[models.SecurityRole])

@navleft = {
	@_navLeftPartial()
}

@main(Messages("pix.user"),"", Html(""), navleft) {

	<div class="row">
		@helper.form(action = routes.Admin.doAddUser, 'class -> "form-horizontal") {
	
			<fieldset>
		        <legend>@Messages("pix.navigation.user.add")</legend>
		        	
				@_userFormPartial(userForm, existingRoles, userRoles)
			
				@_passwordPartial(passwordForm, null)
				
   			</fieldset>
   			
		    <br />
		    
		    <div class="actions">
		        <input type="submit" class="btn btn-primary" value="@Messages("pix.navigation.user.save")">
		    </div>
		     
		    <input type="hidden" name="id" id="id" value="@userForm("id").value" />
		}		
	</div>
}