body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left:auto;
    width: 220px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.fixed-fluid {
    margin-left: 240px;
}
.fluid-fixed {
    margin-right: 240px;
    margin-left:auto !important;
}
.fixed-fixed {
    margin: 0 240px;
}

.hero-unit {
	margin-left: 40px;
	margin-right: 40px;
}

.content-container {
	margin-left: 40px;
	margin-right: 40px;
}


.form-horizontal .control-group:after {
    clear: none !important;
}

.row {
	margin-left: 0 !important;
}