@(nav: String = "")

@import be.objectify.deadbolt.views.html._ 
@import be.objectify.deadbolt.Deadbolt

@import be.objectify.deadbolt.utils.TemplateUtils._

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
          	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</a> 
			
			<a class="brand" href="/">PIX</a>
			  
			<div class="btn-group pull-right">
	          	@if(Deadbolt.viewRoleHolderPresent()) {
	          		@defining(Application.getLocalUser(session())) { user =>
		            	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		              		<i class="icon-user"></i> @user.name
		              		<span class="caret"></span>
		            	</a>
		            	
		            	<ul class="dropdown-menu">
			              	@*
			              	<li><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>
			              	<li><a href="@routes.Account.link()">@Messages("playauthenticate.navigation.link_more")</a></li>
			              	*@
			              	<li class="divider"></li>
			              	<li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
		            	</ul>
	            	}
          		} else {
            		<a href="@routes.Application.login()" class="btn btn-primary btn-mini @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a>
          		}
			</div>

          
			<div class="nav-collapse">
				<ul class="nav">
            	@restrict(la(as("admin"), as("user"))) {
					<li><a href="@routes.Album.index()">@Messages("pix.navigation.albums")</a></li>
				}
            	@restrict(la(as("admin"))) {
					<li><a href="admin/groups">@Messages("pix.navigation.groups")</a></li>
					<li><a href="@routes.Admin.userOverview">@Messages("pix.navigation.user")</a></li>
				}
            	</ul>
            </div><!--/.nav-collapse -->
            
		</div>
	</div>
</div>