@(photos: List[models.pic.Photo], albumId: Long)

@scripts = {
	<script src="@routes.Assets.at("javascripts/galleria/galleria-1.2.8.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/album/jQueryRotateCompressed.2.2.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/album/album.js")" type="text/javascript"></script>
	<style>
	    #galleria{ width: 900px; height: 600px; background: #000 }
	</style>
}

@navleft = {
	@navLeftPartial(albumId)
}

@main(Messages("pix.navigation.albums"),"", scripts, navleft) {
 	<div id="galleria">
		@for(photo <- photos){
 			<a href="@routes.Album.getFile(albumId, photo.name, "normal")">
 				<img data-big="@routes.Album.getFile(albumId, photo.name, "big")" 
 					src="@routes.Album.getFile(albumId, photo.name, "thumbs")"  class="display-image">
 					</a>
		}
    </div>
    
    <button id="fullscreen" class="btn btn-primary">Fullscreen</button>
    <button id="rotate-left" class="btn btn-primary">Rotate left</button>
    <button id="rotate-right" class="btn btn-primary">Rotate right</button>
    
	<script type="text/javascript">
	</script>

	@*
	<input type="hidden" value="1" id="albumId"/>
	*@
}
