@scripts = {
    @scriptsPartial()
}

@navleft = {
	@navLeftPartial()
}

@main(Messages("pix.navigation.albums"),"", scripts, navleft) {
	<div id="galleria">
        <img src="photo1.jpg">
        <img src="photo2.jpg">
        <img src="photo3.jpg">
    </div>
    <script>
         Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
         Galleria.run('#galleria');
    </script>


	<div id="file-uploader" ></div>
    	
	<div>
		<button class="btn btn-primary" id="triggerUpload" >Upload Files</button>
	</div>
	
	<input type="hidden" value="1" id="albumId"/>
}