@(albums: List[models.pic.Album])

@navleft = {
	<div class="well sidebar-nav left">
		<ul class="nav nav-list">
			<li class="nav-header">@Messages("pix.navigation.albums")</li>
			@for(album <- albums) {
				<li><a href="@routes.Album.albums(album.id)">@album.name</a></li>
			}
		</ul>
	</div>
}

@main(Messages("pix.navigation.albums"),"", Html(""), navleft) {
	
	@helper.form(action = routes.Album.newAlbum) {
		<fieldset>
			<label>@Messages("pix.albums.new.album"):</label>
			<input type="text" placeholder="@Messages("pix.albums.album.name")" name="name"/> <br />
			
			<button type="submit" class="btn">@Messages("pix.Ok")</button>
		</fieldset>
	}
}